<!DOCTYPE html>

<html>

<head>

    <title>Success</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="bg-light">

<div class="container mt-5">

<div class="alert alert-success">

<h2>🎉 Account Created Successfully</h2>

<hr>

<h4>Your Student ID is {{ student_id }}</h4>

<p>Please save this ID.</p>

<a href="/login" class="btn btn-success">

Go To Login

</a>

</div>

</div>

</body>

</html>
